body {text-align:center; background:#DDDDDD; padding :0 10% 0 10%}
p {font-family:Arial,Helvetica,Sans-serif;color:black;font-size:14 px}
h1 {font-family:Arial,Helvetica,Sans-serif;color:darkblue;font-size:24 px}
h2 {font-family:Arial,Helvetica,Sans-serif;color:darkred;font-size:50 px}